@model Phone

<table>
  <tbody>
  <tr>
    <td rowspan="4">
      <img width="80%" src="@Model?.image" alt="ModelImg">
    </td>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.brandName)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.modelName)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.hasNetwork5GBands))</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.bodyDimensions.bodyWidth)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.bodyDimensions.bodyHeight)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.bodyDimensions.bodyThickness)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.bodyDimensions.bodyWeight)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.displayDetails.displayType)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.displayDetails.displaySize)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.displayDetails.displayResolution)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.displayDetails.displayProtection)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.platformDetails.cpu)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.platformDetails.gpu)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.platformDetails.os)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.platformDetails.ram)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.cameraDetails.mainCameraDetails)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.cameraDetails.frontCameraDetails)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.batteryDetails.batteryCapacity)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.batteryDetails.chargingSpeed)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.batteryDetails.batteryLifeTest)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.storage)).</td>
  </tr>
  <tr>
    <td>@(Html.DisplayFor(modelItem => Model!.price)).</td>
  </tr>
  <tr>
    <td style="background-color: #ffb3ba">
      <a style="color:red" asp-controller="Compare" asp-action="Remove" asp-route-id="@Model.Id">Remove</a>
    </td>
  </tr>
  </tbody>
</table>