@model Phone

<table>
          <tbody>
          <tr>
            <td rowspan="4">
              <img width="80%" src="@Model?.image" alt="ModelImg">
            </td>
          </tr>
          <tr>
          </tr>
          <tr>
          </tr>
          <tr>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.brandName)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.modelName)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.hasNetwork5GBands))</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.BodyDimensions.bodyWidth)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.BodyDimensions.bodyHeight)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.BodyDimensions.bodyThickness)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.BodyDimensions.bodyWeight)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.DisplayDetails.displayType)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.DisplayDetails.displaySize)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.DisplayDetails.displayResolution)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.DisplayDetails.displayProtection)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.PlatformDetails.Cpu)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.PlatformDetails.Gpu)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.PlatformDetails.Os)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.PlatformDetails.RAM)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.CameraDetails.mainCameraDetails)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.CameraDetails.frontCameraDetails)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.BatteryDetails.batteryCapacity)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.BatteryDetails.chargingSpeed)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.BatteryDetails.batteryLifeTest)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.storage)).</td>
          </tr>
          <tr>
            <td>@(Html.DisplayFor(modelItem => Model!.price)).</td>
          </tr>
          <tr>
            <td style="background-color: #ffb3ba"><a style="color:red" asp-controller="Compare" asp-action="Remove" asp-route-id="@Model.Id">Remove</a></td>
          </tr>
          </tbody>
        </table>