@model OptiCompare.Models.Phone

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this phone?</h3>
<div>
    <h4>Phone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hasNetwork5GBands)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hasNetwork5GBands)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyDimensions.bodyWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyDimensions.bodyWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyDimensions.bodyHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyDimensions.bodyHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyDimensions.bodyThickness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyDimensions.bodyThickness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyDimensions.bodyWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyDimensions.bodyWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayDetails.displayType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayDetails.displayType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayDetails.displaySize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayDetails.displaySize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayDetails.displayResolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayDetails.displayResolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayDetails.displayProtection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayDetails.displayProtection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlatformDetails.Cpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlatformDetails.Cpu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlatformDetails.Gpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlatformDetails.Gpu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlatformDetails.Os)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlatformDetails.Os)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlatformDetails.RAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlatformDetails.RAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.storage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.storage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CameraDetails.mainCameraDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CameraDetails.mainCameraDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CameraDetails.frontCameraDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CameraDetails.frontCameraDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatteryDetails.batteryCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatteryDetails.batteryCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatteryDetails.chargingSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatteryDetails.chargingSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatteryDetails.batteryLifeTest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatteryDetails.batteryLifeTest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
