@model OptiCompare.Models.Phone

@{
    ViewData["Title"] = "Phone Details";
}
<head>

    <link rel="stylesheet" href="~/css/Details.css" asp-append-version="true" />
</head>
    <hr />
    <div class="tg-wrap">
        <table style="table-layout: fixed; width: 80%">
            @*<colgroup>
            <col style="width: 115.2px">
            <col style="width: 110.4px">
            <col style="width: 196.2px">
        </colgroup>*@
            <tbody>
            <tr>
                <td>Brand Name</td>
                <td>@Html.DisplayFor(model => model.brandName)</td>
                <td rowspan="6" colspan="2" style="border-left: 5px solid #ddd">
                    <img src="@Model.image" alt="Thumbnail" width="100%"/>
                </td>
            </tr>
            <tr>
                <td>Model Name</td>
                <td>@Html.DisplayFor(model => model.modelName)</td>
            </tr>
            <tr>
                <td>Has 5G?</td>
                <td>@Html.DisplayFor(model => model.hasNetwork5GBands)</td>
            </tr>
            <tr>
                <td>Body Width</td>
                <td>@Html.DisplayFor(model => model.bodyWidth)</td>
            </tr>
            <tr>
                <td>Body Heights</td>
                <td>@Html.DisplayFor(model => model.bodyHeight)</td>
            </tr>
            <tr>
                <td>Body Thickness</td>
                <td>@Html.DisplayFor(model => model.bodyThickness)</td>
            </tr>
            <tr>
                <td>Body Weight</td>
                <td colspan="3">@Html.DisplayFor(model => model.bodyWeight)</td>
            </tr>
            <tr>
                <td>Display Type</td>
                <td colspan="3">@Html.DisplayFor(model => model.displayType)</td>
            </tr>
            <tr>
                <td>Display Size</td>
                <td colspan="3">@Html.DisplayFor(model => model.displaySize)</td>
            </tr>
            <tr>
                <td>Display Resolution</td>
                <td colspan="3">@Html.DisplayFor(model => model.displayResolution)</td>
            </tr>
            <tr>
                <td>CPU</td>
                <td colspan="3">@Html.DisplayFor(model => model.Cpu)</td>
            </tr>
            <tr>
                <td>GPU</td>
                <td colspan="3">@Html.DisplayFor(model => model.Gpu)</td>
            </tr>
            <tr>
                <td>OS</td>
                <td colspan="3">@Html.DisplayFor(model => model.Os)</td>
            </tr>
            <tr>
                <td>RAM</td>
                <td colspan="3">@Html.DisplayFor(model => model.RAM)</td>
            </tr>
            <tr>
                <td>Main Camera</td>
                <td colspan="3">@Html.DisplayFor(model => model.mainCameraDetails)</td>
            </tr>
            <tr>
                <td>Front Camera</td>
                <td colspan="3">@Html.DisplayFor(model => model.frontCameraDetails)</td>
            </tr>
            <tr>
                <td>Battery Capacity</td>
                <td colspan="3">@Html.DisplayFor(model => model.batteryCapacity)</td>
            </tr>
            <tr>
                <td>Charging speed</td>
                <td colspan="3">@Html.DisplayFor(model => model.chargingSpeed)</td>
            </tr>
            <tr>
                <td>Battery Life Test</td>
                <td colspan="3">@Html.DisplayFor(model => model.batteryLifeTest)</td>
            </tr>
            <tr>
                <td>Price</td>
                <td colspan="3">@Html.DisplayFor(model => model.price)</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="actions">
        <a style="color:lightblue" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="PhoneIndex">Back to List</a>
    </div>
