@using X.PagedList
@using X.PagedList.Mvc.Core
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IPagedList<OptiCompare.DTOs.PhoneDto>

<h1 class="phonesListH1">Phones list</h1>
<div class="search-create">
    <a class="creation" asp-controller="Phones" asp-action="Create">Create New</a>
    <form class="search-form" method="get" asp-controller="Phones" asp-action="Index" style="margin-left: auto;">
        <input list="phones" autocomplete="on" class="form-control" type="text" placeholder="Search for..." name="SearchString" value="@ViewData["CurrentFilter"]" aria-label="Search" aria-describedby="btnNavbarSearch"/>
        <input type="submit" value="Search" class="btn btn-secondary form-control-bttn"/>
    </form>
</div>
<div class="paginator">
    @Html.PagedListPager(Model, page => Url.Action("Index", new
    {
    page,
    searchfor = Context.Request.Query["searchfor"], searchby = Context.Request.Query["searchby"]
    }),
    new PagedListRenderOptions()
    {
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" }
    })
</div>
<table class="table">
    <thead>
    <tr class="tr1">
        <th>Phone</th>
        <th>5G?</th>
        <th>Display size</th>
        <th>Display resolution</th>
        <th>Display type</th>
        <th>Operating System</th>
        <th>Storage</th>
        <th>Main Camera</th>
        <th>Battery capacity</th>
        <th>Price</th>
        <th colspan="4">Utility</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <th>@item.modelName</th>
        <td>@(item.hasNetwork5GBands ? "Yes" : "No")</td>
        <td>@item.displayDetails.displaySize</td>
        <td>@item.displayDetails.displayResolution</td>
        <td>@item.displayDetails.displayType</td>
        <td>@item.platformDetails.os</td>
        <td>@item.storage</td>
        <td>@item.cameraDetails.mainCameraDetails</td>
        <td>@item.batteryDetails.batteryCapacity</td>
        <td>@item.price</td>
        <td class="utility" style="background-color: #B4A947;">
            <a style="color:#FFF9C4;" asp-controller="Compare" asp-action="Add" asp-route-id="@item.Id">Compare</a>
        </td>
        <td class="utility" style="background-color: #368537;">
            <a style="color:#C8E6C9;" asp-controller="Phones" asp-action="Details" asp-route-id="@item.Id">Details</a>
        </td>
        <td class="utility" style="background-color: #2455a7">
            <a style="color:lightblue" asp-controller="Phones" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
        </td>
        <td class="utility" style="background-color: #ffb3ba">
            <a style="color:red" asp-controller="Phones" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>